<ion-view view-title='Masjid Locator'>
	<ion-content>
    <div class="tabs tabs-icon-top tabs-color-light" style="background-color:black" >
      <a class="tab-item" style="color:white" ui-sref='app.mosques'>
        <i class="icon ion-ios-location-outline"></i>
        Find Mosque
      </a>
      <a class="tab-item" style="color:white" ui-sref='app.events'>
        <i class="icon ion-ios-list-outline"></i>
        Feeds
      </a>
    </div>
	</ion-content>
<!-- <ion-footer-bar align-title="left" class="bar-light">
  <div class="bar-dark footer_button">
    <span class="icon ion-home footer_icon"></span>
  </div>
  <div class="bar-dark footer_button">
    <span class="icon ion-home footer_icon"></span>
  </div>
</ion-footer-bar> -->
</ion-view>
